html {
    scroll-behavior: smooth;
}
body {
    background-color: #FBF0F0;
    max-width: 800px;
    margin: 0 auto;
}
header {
    background-color: #B8B0B0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.cv-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1, h4 {
    margin: 10px 0 10px 0;
    text-align: center;
}
.my-photo {
    max-height: 120px;
}
main {
    display: flex;
    justify-content: space-between;
}
.column-one {
    width: 30%;
    background-color: #DFD3D3;
    margin: 5px 5px 5px 0;
}
.column-two {
    width: 70%;
    background-color: #DFD3D3;
    margin: 5px 0 5px 5px;
}
.info-block {
    padding: 5px;
    margin: 5px;
}
.info-block-contacts-list {
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 5px;
}
.link {
    text-decoration: none;
    color: #7C7575;
}
.code {
    background-color: #FBF0F0;
}
.footer {
    background-color: #B8B0B0;
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    align-items: center;
}
.footer-img {
    height: 40px;
    transition: transform .2s;
}
.footer-img:hover {
    transform: scale(1.1);
}
.contacts {
    display: flex;
    align-items: center;
}
.contacts-list {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
}
.single-contact {
    margin: 0 30px 0 0;
}
.logo {
    margin-left: 25px;
}
.copyright {
    margin-right: 25px;
}

/*Hamburger menu*/
.hamburger {
    position: relative;
    z-index: 2;
    left: 1rem;
    width: 3rem;
    height: 3rem;
    border: black solid 1px;
    background: #FBF0F0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.close-icon {
    padding: 0;
    margin: 0;
    display: none;
}

.menu {
    position: absolute;
    /*width: 20vh;*/
    background: #FBF0F0;
    color: black;
    transform: translateY(-200%);
    transition: transform 0.2s;
    list-style: none;
    padding-top: 1rem;
    border: black solid 1px;
}

.showMenu {
    transform: translateY(0);
}

.menu li {
    padding: 0.5rem 2rem 0.5rem 0;
}

.ham-link {
    display: inline;
    font-size: 1rem;
    color: black;
    text-decoration: none;
}

.ham-link:hover {
    text-decoration: underline;
}